# ignore Core
index.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-content/uploads/
wp-content/wp-rocket-config/
wp-content/upgrade/
wp-content/mu-plugins/
wp-content/upgrade/
wp-content/cache/
wp-content/advanced-cache.php
wp-content/index.php
wp-content/themes/twenty*/
wp-content/themes/gutenberg-starter-theme/
wp-content/themes/index.php

# ignore everything in the "wp-content" directory, except:
!wp-content/themes/wp-accessibility-day*/
!wp-content/plugins/questions-and-answers/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
notes.txt
